body {
    background: url('file:///C:/patientcoatlanta.github.io/unit_1/images/desktophero.jpeg')
    background-size: cover;
    background-color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #1aa951;
    font-size: 48px;
    font-weight: 200;
    text-transform: lowercase;
}

p {
    color: #616161;
    font-size: 24px;
    font-weight: 400;
}