body {
    background: url('file:///C:/Screen Shot 2016-04-07 at 5.03.16 PM')
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #1aa951;
    font-size: 48px;
    font-weight: 200;
    text-transform: lowercase;
}

p {
    color: #616161;
    font-size: 24px;
    font-weight: 400;
}

ul { 
    color: #616161;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}