@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url(https://fonts.googleapis.com/css?family=Cardo);

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url('../images/whitedesk.jpeg');
    background-size: cover;
    text-align: center;
    font-family: 'Cardo', serif;
    padding: 5px;
}

h1 {    
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-size: 60px;
    font-weight: 100;
    text-transform: lowercase;
    color: #1aa951;
    padding: 10px 5px 15px;
}

p {
    font-size: 24px;
    font-weight: 400;
    color: #616161;
    padding: 5px
    line-height: 1.5em;
    margin: 2em;
}

#slogan {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-size: 36px;
    font-weight: 100;
    color: #616161;
    padding: 5px;
}

#description {
    font-size: 24px;
    font-weight: 400;
    color: #616161;
    padding: 3px;
    line-height: 1em;
    margin: 1em;
}

.supporting-text {
    font-size: 18px;
    font-weight: 400;
    color: #616161;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    line-height: 1.5em;
    margin: 1em;
}

.features {
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #616161;
}

#footer {
    font-size: 14px;
    font-weight: 400;
    color: #616161;
    padding: 10px 5px 15px;
}