@import url(https://fonts.googleapis.com/css?family=Work+Sans);
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family:'Work Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 1.5em;
}

nav {
    background-color: #E8C66A;
    background-size: cover;
    width: 100%;
    border: 1px black solid;
    left: 0;
    padding: 1.5em;
    position: fixed;
    text-align: center;
    top: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

i {
    color: #fff;
    font-size: 10em;
}

#top-logo {
    display: inline-block;
    padding: 5px 0px 5px 0px;
    text-align: left;
    width: 200px;
}

.menu-link {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 1em;
    font-weight: 400;
    margin: 1em;
    text-align: center;
    text-decoration: none;
}

.line {
    background-color: #fff;
    display: block;
    height: 1px;
    overflow: hidden;
    width: 0;
}

.menu-link:hover .line {
    width: 100%;
    transition: width 0.4s ease;
}

#heading {
    width: 100%
}

h1 {   
    color: #1aa951;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: .1em;
    margin: 3em 0 2em;
    padding: .2em;
    text-align: center;
}

#heading-supporting-text {
    border: 2px solid white;
    color: #616161;
    font-size: 1em;
    font-weight: 400;
    margin: 2em 2em 5em;
    padding: .2em;
    text-align: center;
}

main {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 1.5em;
    width: 100%;
}

.section-title {   
    color: #616161;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;    
    text-decoration: none;
    width: 100%;
}

.column {
    width: 33.333%;
    float: left;
}

.icon {
    display: block;
    margin: 0 auto;
}

#logo-icon {
    text-align: center;
    width: 70px;
}

#gear-icon {
    text-align: center;
    width: 50px;
}

#people-icon {
    text-align: center;
    width: 50px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    display: block;
    padding: 1.5em;
    width: 100%;
}

#footer {
    text-align: center;
}

.footer-link {
    color: #fff;
    font-size: .9em;
    font-weight: 400;
    margin: 1em;
    text-align: center;
    text-decoration: none;
}

#copyright {
    color: #fff;
    display: inline-block;
    font-size: .9em;
    font-weight: 400;
    margin: .1em;
    padding: .3em 0px .3em .3em;
    text-align: left;
}

@media screen only and (max-width: 400px) {
    nav {
        display: block;
        float: none;
    }

     main {
        display: block;
        float: none;
    }

      footer {
        display: block;
        float: none;
    }
}