*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}


nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
    background-size: cover;
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
}

#top-logo {
    background-color: #1aa951;
    display: inline-block;
    text-align: left;
    padding: 5px 0px 5px 0px;
    width: 15%;
}

.menu-link {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin: 1em;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

h1 {   
    margin: 3em 0 2em;
    letter-spacing: .1em;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    color: #1aa951;
    padding: 5px;
}

#heading-supporting-text {
    font-size: 16px;
    font-weight: 400;
    color: #616161;
    margin: 2em 2em 5em;
    padding: 5px;
    text-align: center;
    border: 2px solid white;
}

main {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;

}

#logo-icon {
    text-align: center;
    width: 10%;
}

#gear-icon {
    text-align: center;
    width: 5%;
}

#people-icon {
    text-align: center;
    width: 5%;
}

.section-title {   
    margin: 1em;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #616161;
    padding: 5px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
    display: block;
}

#footer {
    text-align: center;
}

.footer-link {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin: 1em;
}

#copyright {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #fff;
    display: inline-block;
    margin: .1em;
    padding: 5px 0px 5px 5px;
}