* {
    padding: 0;
    margin: 0;
}

body {
    background: url('../images/desktophero.jpeg');
    background-size: cover;
    text-align: center;
    font-family: Arial, sans-serif;

}

h1 {
    font-size: 48px;
    font-weight: 200;
    text-transform: lowercase;
    color: #1aa951;
}

p {
    font-size: 24px;
    font-weight: 400;
    color: #616161;
}

#slogan {
    font-size: 24px;
    font-weight: 400;
    color: #616161;
}

.supporting-text {
    font-size: 14px;
    font-weight: 300;
    color: #616161;
}

.site-feature-list { 
    list-style-type: none;
}

.features {
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #616161;
}

#footer {
    font-size: 14px;
    font-weight: 400;
    color: #616161;
}